/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Medium.9678dc6b.eot);
  src: local("HelveticaNeueCyr-Medium"),
    url(/_next/static/media/HelveticaNeueCyr-Medium.9678dc6b.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Medium.b29d4fbe.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Medium.df29643f.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Heavy.b06ed5ba.eot);
  src: local("HelveticaNeueCyr-Heavy"),
    url(/_next/static/media/HelveticaNeueCyr-Heavy.b06ed5ba.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Heavy.ca6f0277.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Heavy.561f68c4.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-HeavyItalic.6302beb4.eot);
  src: local("HelveticaNeueCyr-HeavyItalic"),
    url(/_next/static/media/HelveticaNeueCyr-HeavyItalic.6302beb4.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-HeavyItalic.f0a0de49.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-HeavyItalic.34f0f836.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Black.b561fce8.eot);
  src: local("HelveticaNeueCyr-Black"),
    url(/_next/static/media/HelveticaNeueCyr-Black.b561fce8.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Black.a163d970.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Black.1d7cc437.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-UltraLightItalic.68b3f342.eot);
  src: local("HelveticaNeueCyr-UltraLightItalic"),
    url(/_next/static/media/HelveticaNeueCyr-UltraLightItalic.68b3f342.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-UltraLightItalic.5e7e9318.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-UltraLightItalic.63801f3c.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-BlackItalic.cdf955bc.eot);
  src: local("HelveticaNeueCyr-BlackItalic"),
    url(/_next/static/media/HelveticaNeueCyr-BlackItalic.cdf955bc.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-BlackItalic.d1b4dfd6.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-BlackItalic.7c90d1dc.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-ThinItalic.c99b0c42.eot);
  src: local("HelveticaNeueCyr-ThinItalic"),
    url(/_next/static/media/HelveticaNeueCyr-ThinItalic.c99b0c42.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-ThinItalic.ef67c524.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-ThinItalic.59f3ac10.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-MediumItalic.30c01fb8.eot);
  src: local("HelveticaNeueCyr-MediumItalic"),
    url(/_next/static/media/HelveticaNeueCyr-MediumItalic.30c01fb8.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-MediumItalic.1bc7dc6a.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-MediumItalic.dc9a4d3f.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-LightItalic.ee42a455.eot);
  src: local("HelveticaNeueCyr-LightItalic"),
    url(/_next/static/media/HelveticaNeueCyr-LightItalic.ee42a455.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-LightItalic.f3d2e9c2.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-LightItalic.310fca53.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-UltraLight.20870fc1.eot);
  src: local("HelveticaNeueCyr-UltraLight"),
    url(/_next/static/media/HelveticaNeueCyr-UltraLight.20870fc1.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-UltraLight.6d996493.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-UltraLight.9f8e21b1.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-BoldItalic.8c96f709.eot);
  src: local("HelveticaNeueCyr-BoldItalic"),
    url(/_next/static/media/HelveticaNeueCyr-BoldItalic.8c96f709.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-BoldItalic.cf62cbf7.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-BoldItalic.ba274c84.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Italic.243d5548.eot);
  src: local("HelveticaNeueCyr-Italic"),
    url(/_next/static/media/HelveticaNeueCyr-Italic.243d5548.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Italic.b8965f34.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Italic.f2a9331f.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Roman.e4ce14e4.eot);
  src: local("HelveticaNeueCyr-Roman"),
    url(/_next/static/media/HelveticaNeueCyr-Roman.e4ce14e4.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Roman.b216140f.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Roman.55d1eee9.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Bold.c399690e.eot);
  src: local("HelveticaNeueCyr-Bold"),
    url(/_next/static/media/HelveticaNeueCyr-Bold.c399690e.eot?#iefix) format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Bold.a7ca31e3.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Bold.a7a01246.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Light.35e9fc6f.eot);
  src: local("HelveticaNeueCyr-Light"),
    url(/_next/static/media/HelveticaNeueCyr-Light.35e9fc6f.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Light.0f93e9b6.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Light.0d2960b6.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/_next/static/media/HelveticaNeueCyr-Thin.d697ad76.eot);
  src: local("HelveticaNeueCyr-Thin"),
    url(/_next/static/media/HelveticaNeueCyr-Thin.d697ad76.eot?#iefix) format("embedded-opentype"),
    url(/_next/static/media/HelveticaNeueCyr-Thin.a74796c4.woff) format("woff"),
    url(/_next/static/media/HelveticaNeueCyr-Thin.c79f431f.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-locale: auto;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: white;
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1140px;
  height: 100vh;
}
.wrapper {
  padding: 80px 20px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

